{% extends 'base1.html' %}
{% load static %}
{% block content %}
            <section class="skill-5 pb-0">
                <div class="container">
                    <div class="space-10"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-5 mb-lg-0 align-self-center">
                            <div class="skill-img-5">
                                <img src="https://via.placeholder.com/742x480.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 bg2-aboutus align-self-center">
                            <div class="ml-xl-70 skill-content-5">
                                <div class="ot-heading is-dots">
                                    <span>[ our skills ]</span>
                                    <h2 class="main-heading">The Core Company Values</h2>
                                </div>
                                <div class="space-20"></div>
                                <div class="space-5"></div>
                                <p>We are constantly growing, learning, and improving and our partners are steadily increasing. 200 projects is a sizable number</p>
                                <div class="ot-progress pb-3" data-percent="65" data-processed="true">
                                    <div class="overflow"><span class="pname f-left">interior sketch</span></div>
                                    <div class="iprogress">
                                        <div class="progress-bar"><span class="ppercent">65%</span></div>
                                    </div>
                                </div>
                                <div class="ot-progress pb-3" data-percent="85" data-processed="true">
                                    <div class="overflow"><span class="pname f-left">3D Modeling</span></div>
                                    <div class="iprogress">
                                        <div class="progress-bar"><span class="ppercent">85%</span></div>
                                    </div>
                                </div>
                                <div class="ot-progress pb-3" data-percent="55" data-processed="true">
                                    <div class="overflow"><span class="pname f-left">2D Planning</span></div>
                                    <div class="iprogress">
                                        <div class="progress-bar"><span class="ppercent">55%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-90"></div>
                </div>
            </section>

            <section class="p-0">
                <div class="container container-big">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="process-area-5">
                                <div class="container">
                                    <div class="ot-process">
                                        <ul class="process_nav unstyle">
                                            <li class="mb-5 mb-lg-0">
                                                <div class="icon-main">
                                                    <span class="dcell"><i class="ot-flaticon-tip"></i></span>
                                                    <span class="number-stroke">01</span>
                                                </div>
                                                <h5>Creating a Concept</h5>
                                                <div class="process-des">
                                                    <p class="process-des-item">The interior design of your dream begins with a concept.</p>
                                                </div>
                                            </li>
                                            <li class="mt-xl-40 mb-5 mb-lg-0">
                                                <div class="icon-main">
                                                    <span class="dcell"><i class="ot-flaticon-money-back"></i></span>
                                                    <span class="number-stroke">02</span>
                                                </div>
                                                <h5>Budget Planning</h5>
                                                <div class="process-des">
                                                    <p class="process-des-item">The interior design of your dream begins with a concept.</p>
                                                </div>
                                            </li>
                                            <li class="mb-5 mb-lg-0">
                                                <div class="icon-main">
                                                    <span class="dcell"><i class="ot-flaticon-3d-1"></i></span>
                                                    <span class="number-stroke">03</span>
                                                </div>
                                                <h5>Design Process</h5>
                                                <div class="process-des">
                                                    <p class="process-des-item">The interior design of your dream begins with a concept.</p>
                                                </div>
                                            </li>
                                            <li class="mt-xl-40">
                                                <div class="icon-main">
                                                    <span class="dcell"><i class="ot-flaticon-paint-1"></i></span>
                                                    <span class="number-stroke">04</span>
                                                </div>
                                                <h5>Building Your Dream</h5>
                                                <div class="process-des">
                                                    <p class="process-des-item">The interior design of your dream begins with a concept.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-5">
                <div class="container">
                    <div class="row">
                        <div class="space-10"></div>
                        <div class="col-lg-5 col-md-12 mb-5 mb-lg-0">
                            <div class="work-content">
                                <div class="ot-heading is-dots">
                                    <span>[ about company ]</span>
                                    <h2 class="main-heading">From Sketch to Life</h2>
                                </div>
                                <div class="space-20"></div>
                                <div class="space-5"></div>
                                <div class="ot-accordions">
                                    <div class="acc-item">
                                        <div class="acc-toggle flex-middle" data-default="yes">
                                            What is 3D desing and how it work?
                                            <span class="down"><i class="fas fa-plus"></i></span>
                                            <span class="up"><i class="fas fa-minus"></i></span>
                                        </div>
                                        <div class="acc-content">
                                            The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our customers by lightning-fast development of projects employing unique styles.
                                        </div>
                                    </div>
                                    <div class="acc-item">
                                        <div class="acc-toggle flex-middle">
                                            How interior design is cost?
                                            <span class="down"><i class="fas fa-plus"></i></span>
                                            <span class="up"><i class="fas fa-minus"></i></span>
                                        </div>
                                        <div class="acc-content">
                                            The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our customers by lightning-fast development of projects employing unique styles.
                                        </div>
                                    </div>
                                    <div class="acc-item">
                                        <div class="acc-toggle flex-middle">
                                            How much time I will spend on planning?
                                            <span class="down"><i class="fas fa-plus"></i></span>
                                            <span class="up"><i class="fas fa-minus"></i></span>
                                        </div>
                                        <div class="acc-content">
                                            The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our customers by lightning-fast development of projects employing unique styles.
                                        </div>
                                    </div>
                                    <div class="acc-item">
                                        <div class="acc-toggle flex-middle">
                                            Can I create custom design?
                                            <span class="down"><i class="fas fa-plus"></i></span>
                                            <span class="up"><i class="fas fa-minus"></i></span>
                                        </div>
                                        <div class="acc-content">
                                            The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our customers by lightning-fast development of projects employing unique styles.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 align-self-center">
                            <div class="about-img-5">
                                <img src="https://via.placeholder.com/935x667.png" alt="">
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </section>

            <section class="p-0">
                <div class="container container-big">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="counter-area-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
                                            <div class="ot-counter">
                                                <div>
                                                    <span>[</span>
                                                    <span class="num" data-to="180" data-time="2000">180</span>
                                                    <span>+]</span>
                                                </div>
                                                <h6>Current Clients</h6>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
                                            <div class="ot-counter">
                                                <div>
                                                    <span>[</span>
                                                    <span class="num" data-to="10" data-time="2000">10</span>
                                                    <span>+]</span>
                                                </div>
                                                <h6>years of experience</h6>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-sm-0">
                                            <div class="ot-counter">
                                                <div>
                                                    <span>[</span>
                                                    <span class="num" data-to="35" data-time="2000">35</span>
                                                    <span>+]</span>
                                                </div>
                                                <h6>awards winning</h6>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                            <div class="ot-counter">
                                                <div>
                                                    <span>[</span>
                                                    <span class="num" data-to="5" data-time="2000">5</span>
                                                    <span>+]</span>
                                                </div>
                                                <h6>Offices Worldwide</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-30"></div>
            </section>

            <section class="p-0">
                <div class="container container-big">
                    <div class="row">
                        <div class="col-lg-12 text-center theratio-align-center">
                            <div class="project-filter-wrapper">
                                <div class="projects-grid pf_4_cols style-2 p-info-s2 img-scale w-auto projects-metro">
                                    <div class="grid-sizer"></div>
                                    <div class="project-item category-19 thumb2x">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <a href="portfolio-standar.html">
                                                    <img src="https://via.placeholder.com/1440x720.png" alt="">
                                                </a>
                                                <div class="overlay">
                                                    <h5>Stylish Family Appartment</h5>
                                                    <i class="ot-flaticon-add"></i>
                                                </div>
                                            </div>
                                            <div class="portfolio-info">
                                                <div class="portfolio-info-inner">
                                                    <h5><a class="title-link" href="portfolio-standar.html">Stylish Family Appartment</a></h5>
                                                    <p class="portfolio-cates"><a href="#">Interior</a></p>
                                                </div>
                                                <a class="overlay" href="portfolio-standar.html"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-item category-14 ">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <a href="portfolio-detail-slider.html">
                                                    <img src="https://via.placeholder.com/720x720.png" alt="">
                                                </a>
                                                <div class="overlay">
                                                    <h5>Minimal Guests House</h5>
                                                    <i class="ot-flaticon-add"></i>
                                                </div>
                                            </div>
                                            <div class="portfolio-info">
                                                <div class="portfolio-info-inner">
                                                    <h5><a class="title-link" href="portfolio-detail-slider.html">Minimal Guests House</a></h5>
                                                    <p class="portfolio-cates">
                                                        <a href="#">Decor</a>
                                                        <a href="#">Interior</a>
                                                    </p>
                                                </div>
                                                <a class="overlay" href="portfolio-detail-slider.html"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-item category-15 ">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <a href="portfolio-left.html">
                                                    <img src="https://via.placeholder.com/720x720.png" alt="">
                                                </a>
                                                <div class="overlay">
                                                    <h5>Art Family Residence</h5>
                                                    <i class="ot-flaticon-add"></i>
                                                </div>
                                            </div>
                                            <div class="portfolio-info">
                                                <div class="portfolio-info-inner">
                                                    <h5><a class="title-link" href="portfolio-left.html">Art Family Residence</a></h5>
                                                    <p class="portfolio-cates"><a href="#">Architecture</a></p>
                                                </div>
                                                <a class="overlay" href="portfolio-left.html"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-item category-20 ">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <a href="portfolio-right.html">
                                                    <img src="https://via.placeholder.com/720x720.png" alt="">
                                                </a>
                                                <div class="overlay">
                                                    <h5>Private House in Spain</h5>
                                                    <i class="ot-flaticon-add"></i>
                                                </div>
                                            </div>
                                            <div class="portfolio-info">
                                                <div class="portfolio-info-inner">
                                                    <h5><a class="title-link" href="portfolio-right.html">Private House in Spain</a></h5>
                                                    <p class="portfolio-cates"><a href="#">Furniture</a></p>
                                                </div>
                                                <a class="overlay" href="portfolio-right.html"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-item category-19 ">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <a href="portfolio-small.html">
                                                    <img src="https://via.placeholder.com/720x720.png" alt="">
                                                </a>
                                                <div class="overlay">
                                                    <h5>Modern Villa in Belgium</h5>
                                                    <i class="ot-flaticon-add"></i>
                                                </div>
                                            </div>
                                            <div class="portfolio-info">
                                                <div class="portfolio-info-inner">
                                                    <h5><a class="title-link" href="portfolio-small.html">Modern Villa in Belgium</a></h5>
                                                    <p class="portfolio-cates"><a href="#">Furniture</a></p>
                                                </div>
                                                <a class="overlay" href="portfolio-small.html"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-item category-14 thumb2x">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <a href="portfolio-big.html">
                                                    <img src="https://via.placeholder.com/1440x720.png" alt="">
                                                </a>
                                                <div class="overlay">
                                                    <h5>Minimalistic Style Appartment</h5>
                                                    <i class="ot-flaticon-add"></i>
                                                </div>
                                            </div>
                                            <div class="portfolio-info">
                                                <div class="portfolio-info-inner">
                                                    <h5><a class="title-link" href="portfolio-big.html">Minimalistic Style Appartment</a></h5>
                                                    <p class="portfolio-cates"><a href="#">Furniture</a><a href="#">interior</a></p>
                                                </div>
                                                <a class="overlay" href="portfolio-big.html"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="testimonials-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center theratio-align-center">
                            <div class="ot-heading is-dots">
                                <span>[ testimonials ]</span>
                                <h2 class="main-heading">What People Say</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="space-50"></div>
                            <div class="ot-testimonials v-light">
                                <div class="testimonial-inner testi-col-3 owl-theme owl-carousel">
                                    <div class="testi-item">
                                        <div class="ttext">
                                            <div class="layer-behind"></div>
                                            <span></span>
                                            "You will never fake the feeling of being in such a place. The live minimalism base on the natural materials & alive unprocessed."
                                        </div>
                                        <div class="t-head flex-middle">
                                            <img src="https://via.placeholder.com/80x80.png" alt="">
                                            <div class="tinfo">
                                                <h6>Anna Paulina</h6>
                                                <span>Client of Company</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testi-item">
                                        <div class="ttext">
                                            <div class="layer-behind"></div>
                                            <span></span>
                                            "You will never fake the feeling of being in such a place. The live minimalism base on the natural materials & alive unprocessed."
                                        </div>
                                        <div class="t-head flex-middle">
                                            <img src="https://via.placeholder.com/80x80.png" alt="">
                                            <div class="tinfo">
                                                <h6>Pablo Gusterio</h6>
                                                <span>Client of Company</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testi-item">
                                        <div class="ttext">
                                            <div class="layer-behind"></div>
                                            <span></span>
                                            "You will never fake the feeling of being in such a place. The live minimalism base on the natural materials & alive unprocessed."
                                        </div>
                                        <div class="t-head flex-middle">
                                            <img src="https://via.placeholder.com/80x80.png" alt="">
                                            <div class="tinfo">
                                                <h6>Kristina Lee</h6>
                                                <span>Client of Company</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testi-item">
                                        <div class="ttext">
                                            <div class="layer-behind"></div>
                                            <span></span>
                                            "You will never fake the feeling of being in such a place. The live minimalism base on the natural materials & alive unprocessed."
                                        </div>
                                        <div class="t-head flex-middle">
                                            <img src="https://via.placeholder.com/80x80.png" alt="">
                                            <div class="tinfo">
                                                <h6>Anna Paulina</h6>
                                                <span>Client of Company</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testi-item">
                                        <div class="ttext">
                                            <div class="layer-behind"></div>
                                            <span></span>
                                            "You will never fake the feeling of being in such a place. The live minimalism base on the natural materials & alive unprocessed."
                                        </div>
                                        <div class="t-head flex-middle">
                                            <img src="https://via.placeholder.com/80x80.png" alt="">
                                            <div class="tinfo">
                                                <h6>Pablo Gusterio</h6>
                                                <span>Client of Company</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testi-item">
                                        <div class="ttext">
                                            <div class="layer-behind"></div>
                                            <span></span>
                                            "You will never fake the feeling of being in such a place. The live minimalism base on the natural materials & alive unprocessed."
                                        </div>
                                        <div class="t-head flex-middle">
                                            <img src="https://via.placeholder.com/80x80.png" alt="">
                                            <div class="tinfo">
                                                <h6>Kristina Lee</h6>
                                                <span>Client of Company</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-0">
                <div class="container container-big">
                    <div class="row m-0">
                        <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                            <div class="team-item">
                                <div class="team-wrap">
                                    <div class="team-thumb">
                                        <img src="https://via.placeholder.com/750x977.png" alt="Christina Torres">
                                    </div>
                                    <div class="team-text-overlay">
                                        <div class="team-info dtable">
                                            <div class="dcell">
                                                <h4 class="m_name">Christina Torres</h4>
                                                <div class="team-social flex-middle">
                                                    <span class="ot-flaticon-add"></span>
                                                    <a href="https://twitter.com"><i class="fab fab fa-twitter"></i></a>
                                                    <a href="https://linkedin.com"><i class="fab fab fa-linkedin-in"></i></a>
                                                    <a href="https://instagram.com"><i class="fab fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="m_extra">
                                                <span>[ Company Founder ]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                            <div class="team-item">
                                <div class="team-wrap">
                                    <div class="team-thumb">
                                        <img src="https://via.placeholder.com/750x977.png" alt="Jesica Lina">
                                    </div>
                                    <div class="team-text-overlay">
                                        <div class="team-info dtable">
                                            <div class="dcell">
                                                <h4 class="m_name">Jesica Lina</h4>
                                                <div class="team-social flex-middle">
                                                    <span class="ot-flaticon-add"></span>
                                                    <a href="https://twitter.com"><i class="fab fab fa-twitter"></i></a>
                                                    <a href="https://linkedin.com"><i class="fab fab fa-linkedin-in"></i></a>
                                                    <a href="https://instagram.com"><i class="fab fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="m_extra">
                                                <span>[ Marketing Manager ]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                            <div class="team-item">
                                <div class="team-wrap">
                                    <div class="team-thumb">
                                        <img src="https://via.placeholder.com/750x977.png" alt="Robert Cooper">
                                    </div>
                                    <div class="team-text-overlay">
                                        <div class="team-info dtable">
                                            <div class="dcell">
                                                <h4 class="m_name">Robert Cooper</h4>
                                                <div class="team-social flex-middle">
                                                    <span class="ot-flaticon-add"></span>
                                                    <a href="https://twitter.com"><i class="fab fab fa-twitter"></i></a>
                                                    <a href="https://linkedin.com"><i class="fab fab fa-linkedin-in"></i></a>
                                                    <a href="https://instagram.com"><i class="fab fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="m_extra">
                                                <span>[ Finance Manager ]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                            <div class="team-item">
                                <div class="team-wrap">
                                    <div class="team-thumb">
                                        <img src="https://via.placeholder.com/750x977.png" alt="Olivia Peterson">
                                    </div>
                                    <div class="team-text-overlay">
                                        <div class="team-info dtable">
                                            <div class="dcell">
                                                <h4 class="m_name">Olivia Peterson</h4>
                                                <div class="team-social flex-middle">
                                                    <span class="ot-flaticon-add"></span>
                                                    <a href="https://twitter.com"><i class="fab fab fa-twitter"></i></a>
                                                    <a href="https://linkedin.com"><i class="fab fab fa-linkedin-in"></i></a>
                                                    <a href="https://instagram.com"><i class="fab fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="m_extra">
                                                <span>[ CEO of Company ]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pb-0">
                <div class="container">
                    <div class="row pb-50">
                        <div class="col-lg-8 col-md-12 mb-4 mb-lg-0">
                            <div class="ot-heading is-dots">
                                <span>[ our blog ]</span>
                                <h2 class="main-heading">Read Our Latest News</h2>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 text-lg-right align-self-center">
                            <div class="ot-button">
                                <a href="blog.html" class="octf-btn octf-btn-dark border-hover-dark">View all</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="post-box masonry-post post-item">
                                <div class="post-inner">
                                    <div class="entry-media post-cat-abs">
                                        <a href="post.html"><img src="https://via.placeholder.com/570x484.png" alt=""></a>
                                        <div class="post-cat">
                                            <div class="posted-in"><a href="#">Interior</a></div>
                                        </div>
                                    </div>
                                    <div class="inner-post">
                                        <div class="entry-header">
                                            <div class="entry-meta">
                                                <span class="posted-on"><a href="#">March 19, 2020</a></span>
                                                <span class="byline">
                                                    <span class="author vcard"><a class="url fn n" href="#">Tom Black</a></span>
                                                </span>
                                            </div><!-- .entry-meta -->

                                            <h5 class="entry-title">
                                                <a class="title-link" href="post.html">Top 10 Tips for Your Kitchen Interior Design</a>
                                            </h5>
                                        </div><!-- .entry-header -->

                                        <div class="the-excerpt">
                                            A faceting effect livens up and...
                                        </div><!-- .entry-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="post-box masonry-post post-item">
                                <div class="post-inner">
                                    <div class="entry-media post-cat-abs">
                                        <a href="post.html"><img src="https://via.placeholder.com/570x484.png" alt=""></a>
                                        <div class="post-cat">
                                            <div class="posted-in"><a href="#">Interior</a></div>
                                        </div>
                                    </div>
                                    <div class="inner-post">
                                        <div class="entry-header">
                                            <div class="entry-meta">
                                                <span class="posted-on"><a href="#">March 19, 2020</a></span>
                                                <span class="byline">
                                                    <span class="author vcard"><a class="url fn n" href="#">Tom Black</a></span>
                                                </span>
                                            </div><!-- .entry-meta -->

                                            <h5 class="entry-title">
                                                <a class="title-link" href="post.html">The Golden Ratio Rules for Best 2D Sketch</a>
                                            </h5>
                                        </div><!-- .entry-header -->

                                        <div class="the-excerpt">
                                            A faceting effect livens up and...
                                        </div><!-- .entry-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="post-box masonry-post post-item">
                                <div class="post-inner">
                                    <div class="entry-media post-cat-abs">
                                        <a href="post.html"><img src="https://via.placeholder.com/570x484.png" alt=""></a>
                                        <div class="post-cat">
                                            <div class="posted-in"><a href="#">Interior</a></div>
                                        </div>
                                    </div>
                                    <div class="inner-post">
                                        <div class="entry-header">
                                            <div class="entry-meta">
                                                <span class="posted-on"><a href="#">March 19, 2020</a></span>
                                                <span class="byline">
                                                    <span class="author vcard"><a class="url fn n" href="#">Tom Black</a></span>
                                                </span>
                                            </div><!-- .entry-meta -->

                                            <h5 class="entry-title">
                                                <a class="title-link" href="post.html">Use Pastel Colors & Natural Materials</a>
                                            </h5>
                                        </div><!-- .entry-header -->

                                        <div class="the-excerpt">
                                            A faceting effect livens up and...
                                        </div><!-- .entry-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="p-0">
                <img src="https://via.placeholder.com/1920x527.png" alt="">
            </div>
{% endblock %}
