{% extends 'inner-base.html' %}
{% load static %}
{% block content %}

    <div class="entry-content">
        <div class="container">
            <div class="row">
                <div class="content-area col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <article class="blog-post post-box">

                        <div class="inner-post">
                            <header class="entry-header">
                                <h3 class="entry-title">{{news.name}}</h3>
                            </header>
                            <div class="entry-meta">
                                <span class="byline" style="font-size:17px;"><a class="url fn n" href="javascript:void(0);">{{news.description}}</a></span>
                            </div>
                            <div class="entry-media post-cat-abs">
                                <img src="{{news.image.url}}" alt="">

                                <div class="post-cat">
                                    <div class="posted-in"><a href="{% url 'consulting:category-news-list' news.category.slug %}">{{news.category.name}}</a></div>
                                </div>
                            </div>
                            <div class="entry-meta">
                                <span class="byline"><a class="url fn n" href="javascript:void(0);">{{news.author}}</a></span>
                                <span class="posted-on"> <a href="javascript:void(0);">{{news.date}}</a></span>
                                <span class="comment-num"> <a href="javascript:void(0);">{{news.comment_count}} Comments</a></span>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>{{news.text|safe}}</p>
                            </div>
                            <div class="entry-footer clearfix">
                                {% for category in categories %}
                                {% if category.count > 0 %}
                                <div class="tagcloud" style="padding-right: 15px;">
                                    <a href="{% url 'consulting:category-news-list' category.slug %}" rel="tag">{{category.name}}</a>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% if related_news %}
                            <div class="related-posts">
                                <h3>Related Posts</h3>
                                <div class="row">
                                    {% for news in related_news %}
                                    <div class="col-lg-6 col-md-6 col-sm">
                                        <div class="post-box post-item">
                                            <div class="post-inner">
                                                <div class="entry-media post-cat-abs">
                                                    <a href="{% url 'consulting:news-detail' news.slug %}"><img src="{{news.image.url}}" alt=""></a>
                                                    <div class="post-cat">
                                                        <div class="posted-in"><a href="{% url 'consulting:category-news-list' news.category.slug %}">{{news.category.name}}</a></div>
                                                    </div>
                                                </div>
                                                <div class="inner-post">
                                                    <div class="entry-header">
                                                        <div class="entry-meta">
                                                            <span class="posted-on"><a href="{% url 'consulting:news-detail' news.slug %}">{{news.date}}</a></span>
                                                            <span class="byline">
                                                                <span class="author vcard"><a class="url fn n" href="{% url 'consulting:news-detail' news.slug %}">{{news.author}}</a></span>
                                                            </span>
                                                        </div><!-- .entry-meta -->

                                                        <h5 class="entry-title">
                                                            <a class="title-link" href="{% url 'consulting:news-detail' news.slug %}">{{news.name}}</a>
                                                        </h5>
                                                    </div><!-- .entry-header -->

                                                    <div class="the-excerpt">
                                                        {{news.description|truncatewords:15}}
                                                    </div><!-- .entry-content -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </article>

                    {% if news.comments.all %}
                    <div id="comments" class="comments-area">
                        <h3 class="comments-title">Comments <span>({{news.comment_count}})</span></h3>

                        {% for comment in news.comments.all|slice:":10" %}

                        <ol class="comment-list">
                            <li class="comment even thread-even comment-item">
                                <article class="comment-wrap clearfix" style="margin-left:-75px;">
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <h6 class="comment-author">{{comment.name}}</h6>
                                            <span class="comment-time">{{comment.date}}</span>
                                            <div class="comment-reply"><a class="comment-reply-link" href="#formReview"
                                                onclick="AddReview('{{comment.name}}', '{{comment.id}}')"
                                            >Reply</a></div>
                                        </div>
                                        <div class="comment-text">
                                            <p>{{comment.message}}</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ol>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <script>
                    function AddReview(name, id) {
                        document.getElementById('contactparent').value = id;
                        document.getElementById('comment').innerHTML = `${name}, `;
                        console.log(id);
                        console.log(name);
                    }
                    </script>
                    <div class="comment-respond">
                        <h3 class="comment-reply-title" id="formReview">Leave a comment</h3>
                        <form action="{% url 'consulting:comment' news.pk %}" method="POST" class="comment-form">
                            {% csrf_token %}
                            <p class="comment-notes"> All fields are required <span class="required">*</span></p>
                            <div class="row">
                                <p class="comment-form-author col-md-12">
                                    <input id="author" name="name" type="text" value="" size="30" placeholder="Name*" required="">
                                </p>
                                <input type="hidden" name="parent" id="contactparent" value="">
                            </div>
                            <p class="comment-form-comment">
                                <textarea id="comment" name="message" cols="45" rows="8" placeholder="Comment*" required=""></textarea>
                            </p>
                            <p class="form-submit">
                                <input name="submit" type="submit" id="submit" class="octf-btn" value="Post Comment">
                            </p>
                        </form>
                    </div>
                </div>
                <div class="widget-area primary-sidebar col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <aside id="search-2" class="widget widget_search">
                        <form role="search" action="{% url 'consulting:news-search' %}" method="get" class="search-form">
                            <input type="search" class="search-field" placeholder="Search..." value="" name="search">
                            <button type="submit" class="search-submit"><i class="ot-flaticon-search"></i></button>
                        </form>
                    </aside>

                    {% if categories %}
                    <aside class="widget widget_categories">
                        <h6 class="widget-title">Categories</h6>
                        <ul>
                            {% for category in categories %}
                            {% if category.count > 0 %}
                            <li><a href="{% url 'consulting:category-news-list' category.slug %}">{{category.name}}</a> <span class="count">({{category.count}})</span></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </aside>
                    {% endif %}

                    {% if recent_news %}
                    <aside class="widget widget_recent_news">
                        <h6 class="widget-title">Recent Posts</h6>
                        <ul class="recent-news clearfix">
                            {% for news in recent_news %}
                            <li class="clearfix">
                                <div class="thumb">
                                    <a href="{% url 'consulting:news-detail' news.slug %}"><img src="{{news.image.url}}" alt=""></a>
                                </div>
                                <div class="entry-header">
                                    <h6><a href="{% url 'consulting:news-detail' news.slug %}">{{news.name|truncatewords:7}}</a></h6>
                                    <span class="post-on"><span class="entry-date">{{news.date}}</span></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
