{% extends 'inner-base.html' %}
{% load static %}
{% block content %}

        <div id="content" class="site-content">
            <div class="page-header dtable text-center header-transparent pheader-portfolio-detail">
                <div class="dcell">
                    <div class="container">
                        <h1 class="page-title">{{program.name}}</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a href="">Home</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li class="active">{{program.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="portfolio-detail p-0">
                <div class="container">
                    <div class="row">
                        <div class="space-70"></div>
                        <div class="col-lg-8 col-md-12">
                            <p><span class="drop-cap"><span class="drop-cap-letter">{{program.capital_letter}}</span></span>{{program.text|safe}}</p>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="portfolio-detail-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>University:</h6>
                                        <p>{{program.name}}</p>
                                        <h6>Specialisation:</h6>
                                        <p>{{program.specialisation}}</p>
                                        <h6>Country:</h6>
                                        <p>{{program.subcategory}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Local rating:</h6>
                                        <p>{{program.local_rating}}</p>
                                        <h6>Global rating:</h6>
                                        <p>{{program.global_rating}}</p>
                                        <h6>DATE:</h6>
                                        <p>{{program.date_opened}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-70"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="image-gallery">
                                <div id="gallery-2" class="gallery gallery-columns-2 s2">
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <a href="{{program.first_detail_image.url}}">
                                                <img src="{{program.first_detail_image.url}}" alt="">
                                                <span class="overlay"><i class="ot-flaticon-add"></i></span>
                                            </a>
                                        </div>
                                    </figure>
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <a href="{{program.second_detail_image.url}}">
                                                <img src="{{program.second_detail_image.url}}" alt="">
                                                <span class="overlay"><i class="ot-flaticon-add"></i></span>
                                            </a>
                                        </div>
                                    </figure>
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <a href="{{program.third_detail_image.url}}">
                                                <img src="{{program.third_detail_image.url}}" alt="">
                                                <span class="overlay"><i class="ot-flaticon-add"></i></span>
                                            </a>
                                        </div>
                                    </figure>
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <a href="{{program.fourth_detail_image.url}}">
                                                <img src="{{program.fourth_detail_image.url}}" alt="">
                                                <span class="overlay"><i class="ot-flaticon-add"></i></span>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="space-60"></div>
                        <div class="space-5"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{program.extra_text|safe}}</p>
                            <div class="space-20"></div>
                            <div class="space-50"></div>
                            <div class="project-bottom">
                                <div class="portfolio-related-posts-wrap">
                                    <div class="portfolio-related-title-wrap">
                                        <h2 class="portfolio-related-title">Related Projects</h2>
                                    </div>
                                    <div class="row">
                                        <div class="projects-grid pf_3_cols style-1 img-scale w-auto m-0">
                                          {% for p in related_programs %}
                                            <div class="project-item category-20 ">
                                                <div class="projects-box">
                                                    <div class="projects-thumbnail">
                                                        <a href="portfolio-right.html">
                                                            <img src="{{p.home_image.url}}" alt="">
                                                        </a>
                                                        <div class="overlay">
                                                            <h5>{{p.name}}</h5>
                                                            <i class="ot-flaticon-add"></i>
                                                        </div>
                                                    </div>
                                                    <div class="portfolio-info">
                                                        <div class="portfolio-info-inner">
                                                            <h5><a class="title-link" href="{{p.get_absolute_url}}">{{p.name}}</a></h5>
                                                            <p class="portfolio-cates"><a href="{{p.subcategory.get_absolute_url}}">{{p.subcategory.name}}</a></p>
                                                        </div>
                                                        <a class="overlay" href="portfolio-right.html"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

{% endblock %}
