{% extends 'inner-base.html' %}
{% load static %}
{% block content %}

    <div id="content" class="site-content" style="margin-top: -200px;">
        <div class="page-header dtable text-center header-transparent pheader-about">
            <div class="dcell">
                <div class="container">
                    <h1 class="page-title" style="color: black;">About Us</h1>
                </div>
            </div>
        </div>
    </div>

        <div class="entry-content">
            <div class="container">
                <div class="row">
                    <div class="content-area col-lg-9 col-md-12 col-sm-12 col-xs-12">
                      {% for program in page_obj %}
                        <article class="post-box">
                            <div class="post-inner">
                                <div class="entry-media post-cat-abs">
                                    <a href="{{program.get_absolute_url}}"><img src="{{program.image.url}}" alt=""></a>
                                    <div class="post-cat">
                                        <div class="posted-in"><a href="{{program.subcategory.get_absolute_url}}">{{program.subcategory.name}}</a></div>
                                    </div>
                                </div>
                                <div class="inner-post">
                                    <div class="entry-header">
                                        <div class="entry-meta">
                                            <span class="posted-on">_ <a href="{{program.get_absolute_url}}"> {{program.date}}</a></span>
                                            <span class="byline">_ <a class="url fn n" href="{{program.get_absolute_url}}"> {{program.author}}</a></span>
                                        </div>
                                        <h4 class="entry-title"><a class="title-link" href="{{program.get_absolute_url}}">{{program.name}}</a></h4>
                                    </div>
                                    <div class="entry-summary the-excerpt">
                                        <p>{{program.description|truncatewords:15}}</p>
                                    </div>
                                    <div class="entry-footer"><a href="{{program.get_absolute_url}}" class="btn-details"> READ MORE</a></div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                        {% if page_obj.paginator %}
                        {% if page_obj.has_next or page_obj.has_previous %}
                        <ul class="page-pagination text-center mt-3 none-style">

                          {% if page_obj.has_previous %}
                            <li><a class="prev page-numbers" href="?page={{page_obj.previous_page_number}}">Prev</a></li>
                            {% else %}

                            {% endif %}

                            {% for page in page_obj.paginator.page_range %}
                            {% if page_obj.number == page %}
                            <li class="active"><span>{{page}} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            <li><a href="?page={{page}}">{{page}}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li><a class="next page-numbers" href="?page={{page_obj.next_page_number}}">Next</a></li>
                            {% else %}

                            {% endif %}

                        </ul>
                        {% else %}
                        <div></div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="widget-area primary-sidebar col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <aside id="search-2" class="widget widget_search">
                          <form role="search" action="{% url 'consulting:FilterProgramsView' %}" method="get" class="search-form">
                              <input type="search" class="search-field" placeholder="Search..." value="" name="q">
                              <button type="submit" class="search-submit"><i class="ot-flaticon-search"></i></button>
                          </form>
                        </aside>
                        <aside class="widget widget_categories">
                            <h6 class="widget-title">Categories</h6>
                            <ul>
                                {% for program in program_name %}
                                <li><a href="{{program.get_absolute_url}}">{{program.name}}</a> <span class="count">()</span></li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <aside class="widget widget_recent_news">
                            <h6 class="widget-title">Recent Posts</h6>
                            <ul class="recent-news clearfix">
                              {% for program in related_programs %}
                                <li class="clearfix">
                                    <div class="thumb">
                                        <a href="{{program.get_absolute_url}}"><img src="{{program.related_image.url}}" alt=""></a>
                                    </div>
                                    <div class="entry-header">
                                        <h6><a href="{{program.get_absolute_url}}">{{program.name}}</a></h6>
                                        <span class="post-on"><span class="entry-date">{{program.date}}</span></span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <aside class="widget widget_tag_cloud">
                            <h6 class="widget-title">Tags</h6>
                            <div class="tagcloud">
                              {% for c in category %}
                                <a href="{{c.get_absolute_url}}">{{c.name}}</a>
                                {% endfor %}
                            </div>
                        </aside>
                        <aside class="widget widget_media_image text-center">
                            <a href="contact.html"><img src="https://via.placeholder.com/270x330.png" alt=""></a>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
